In [87]:
import pandas as pd
import numpy as np
import os

In [88]:
basepath=("./datasets/")
pandas_list=[]

for item in os.listdir(basepath):
    print(item)
    fn=(os.path.join(basepath, item))  #create a file handler 
    obj=pd.read_excel(fn,encoding="utf-8")                #open file as a pandas dataframe  
    pandas_list.append(obj)

UFC_Social.xlsx
UFC_PPV_Data.xlsx

In [89]:
pandas_list[0].head()

,Athlete,Category,Gender,Nation,Rank,Active,Twitter,Instagram,Facebook
0,Daniel Cormier,Heavyweight,M,USA,C,YES,709000,1900000,NaN
1,Stipe Miocic,Heavyweight,M,USA,1,YES,239000,774000,NaN
2,Francis Ngannou,Heavyweight,M,FRA,2,YES,99700,497000,NaN
3,Derrick Lewis,Heavyweight,M,USA,3,YES,148000,1500000,NaN
4,Curtis Blaydes,Heavyweight,M,USA,4,YES,12700,79100,NaN

In [90]:
pandas_list[1].head()

,Event,Date,Venue,City,State/Province,Country,Attendance,EVENT #,PPV,Explanation,Month,Year,Extra Notes
0,UFC 1: The Beginning,1993-11-12,McNichols Sports Arena,Denver,Colorado,U.S.,7800,UFC 1,Not Available,Pre-PPV,November,1993,NaN
1,UFC 2: No Way Out,1994-03-11,Mammoth Gardens,Denver,Colorado,U.S.,2000,UFC 2,Not Available,Pre-PPV,March,1994,NaN
2,UFC 3: The American Dream,1994-09-09,Grady Cole Center,Charlotte,North Carolina,U.S.,NaN,UFC 3,Not Available,Pre-PPV,September,1994,NaN
3,UFC 4: Revenge of the Warriors,1994-12-16,Expo Square Pavilion,Tulsa,Oklahoma,U.S.,5857,UFC 4,Not Available,Pre-PPV,December,1994,NaN
4,UFC 5: The Return of the Beast,1995-04-07,Independence Arena,Charlotte,North Carolina,U.S.,6000,UFC 5,Not Available,Pre-PPV,April,1995,NaN

In [91]:
social_stats=pandas_list[0]
ppv_data=pandas_list[1]

In [98]:
social_stats['Twitter']=pd.to_numeric(social_stats['Twitter'], errors='coerce', downcast='integer')
social_stats['Instagram']=pd.to_numeric(social_stats['Instagram'], errors='coerce', downcast='integer')

In [99]:
social_stats['Twitter'].head(10)

0     709000.0
1     239000.0
2      99700.0
3     148000.0
4      12700.0
5     505000.0
6    1340000.0
7       4614.0
8       3018.0
9       1775.0
Name: Twitter, dtype: float64

In [97]:
social_stats['Twitter'].describe()

count    1.590000e+02
mean     3.344525e+05
std      1.110623e+06
min      1.650000e+02
25%      1.225000e+04
50%      5.250000e+04
75%      2.105000e+05
max      7.860000e+06
Name: Twitter, dtype: float64